$hr-background-color-default : transparent !default;
$mark-background-color: #ff0 !default;

$link-background-color : transparent!default;
$link-active-background-color: transparent  !default;
$link-hover-background-color : transparent  !default;
$link-visited-background-color: transparent  !default;
