$hr-color-default : rgba(0, 0, 0, 0.1) !default;
$mark-color: #000 !default;

$link-color : #007bff  !default;
$link-active-color: darken(#007bff, 23%)  !default;
$link-hover-color : darken(#007bff, 12%)  !default;
$link-visited-color: darken(rgb(30, 46, 116), 46%)  !default;