$color-dark :  rgba(29, 29, 29, 1)  !global !default;
$color-dark-transparent-low :   rgba(29, 29, 29, .8) !global !default;
$color-dark-transparent-medium :  rgba(29, 29, 29, .5) !global  !default;
$color-dark-transparent-high :  rgba(29, 29, 29, .3)   !global !default;

$color-light : rgba(223, 223, 223, 1) !default;
$color-light-transparent-low :  rgba(223, 223, 223, .8)  !global !default;
$color-light-transparent-medium :   rgba(223, 223, 223, .5)  !global !default;
$color-light-transparent-high :  rgba(223, 223, 223, .3)  !global !default;


$favorite-colors : (

    "color-dark" : $color-dark,
    "color-dark-transparent-low" : $color-dark-transparent-low,
    "color-dark-transparent-medium" : $color-dark-transparent-medium,
    "color-dark-transparent-high" : $color-dark-transparent-high,
    
    "color-light" : $color-light,
    "color-light-transparent-low" : $color-light-transparent-low,
    "color-light-transparent-medium" : $color-light-transparent-medium,
    "color-light-transparent-high" : $color-light-transparent-high
    )!default;
    
    
    //Generate Colors
    @each $color-name, $color-value in $favorite-colors {
    
        .#{$color-name}{
            color : $color-value !important;
        }
        .#{$color-name}-inverted{
            color : invert($color-value) !important;
        }
        .#{$color-name}-background-inverted{
            color: $color-value !important;
            background-color : invert($color-value) !important;
        }

    }
    //Generate Background Colors
    $favorite-background-colors : (
    
    "background-color-dark" : $color-dark,
    "background-color-dark-transparent-low" : $color-dark-transparent-low,
    "background-color-dark-transparent-medium" : $color-dark-transparent-medium,
    "background-color-dark-transparent-high" : $color-dark-transparent-high,
    
    "background-color-light" : $color-light,
    "background-color-light-transparent-low" : $color-light-transparent-low,
    "background-color-light-transparent-medium" : $color-light-transparent-medium,
    "background-color-light-transparent-high" : $color-light-transparent-high
    )!default;
    
    
    @each $background-color-name, $background-color-value in $favorite-background-colors {
    
        .#{$background-color-name}{
    
            background-color : $background-color-value !important;
        }    
        .#{$background-color-name}-inverted{
    
            background-color : invert($background-color-value) !important;
        }
        .#{$background-color-name}-color-inverted{
            background-color: $background-color-value !important;
            color : invert($background-color-value) !important;
        }
    }
    

    //@each $background-color-name, $background-color-value in $favorite-colors {
    
    //.#{$background-color-name}{
    //	@if(str-index($background-color-name , -dark)){
    
    //		background-color: $background-color-value !important;
    //		color : lighten($background-color-value, 50) !important;
    
    //	}@elseif(str-index($background-color-name, -light)){
    
    //		background-color: $background-color-value !important;
    //		color : darken($background-color-value, 50) !important;
    //	}
    //}
    //}