$uiCenter-default-fix-height : 37px !default;
$uiCenter-default-fix-height-xl-more : $uiCenter-default-fix-height;
$uiCenter-default-fix-height-responsive-bootstrap-xl-more : $uiCenter-default-fix-height;
